* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;  
    transition: background-image 1s ease-in-out; 
}

button {
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
}
